
@{
    ViewBag.Title = "DanhSachSanPhamTreEm";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<link href="~/Content/TrangLamWeb/style-dssp.css" rel="stylesheet" />
<h2>DanhSachSanPham</h2>
<div id="trangsanpham">
    <ul class="product">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/aoni1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Áo nỉ</a>
                    <div class="product-price">399.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/aosomi1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Áo Sơ mi</a>
                    <div class="product-price">₫499,000</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quanjean1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Quần jean</a>
                    <div class="product-price">499.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quanlegging1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Quần legging</a>
                    <div class="product-price">599.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quannhung1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Quần vải nhung</a>
                    <div class="product-price">399.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quannhungtam1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Quần nhung tâm</a>
                    <div class="product-price">499.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/chanvayvai1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Chân váy vải</a>
                    <div class="product-price">399.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="#" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quannt1.avif" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Quần nhung tâm</a>
                    <div class="product-price">499.000đ</div>
                </div>
            </div>
        </li>


    </ul>
</div>
<script src="~/Scripts/TrangLamWeb/search-filter.js"></script>
