
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<link href="~/Content/TrangLamWeb/trangchu.css" rel="stylesheet" />


<section class="gtsanpham">
    <div id="banner">
        <a href="DanhSachSanPham">
            <div class="fm-banner">
                <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/bannernu.png" />
            </div>
            <div class="mua-ngay-banner">
                <span>Mua ngay</span>
            </div>
        </a>
    </div>

    <div id="img-sanphamnu ">
        <div id="imgnu-left">
            <a href="DanhSachSanPham">
                <div class="hinh">
                    <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/langmanmuathu.png" />
                </div>

                <div class="info">
                    <h2>Lãng mạn mùa thu</h2>
                </div>

            </a>
        </div>
        <div id="imgnu-right">
            <a href="DanhSachSanPham">
                <div class="hinh">
                    <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/vedepcodien.png" />
                </div>
                <div class="info">
                    <h2>Vẻ đẹp cổ điển</h2>
                </div>

            </a>
        </div>
    </div>
</section>
<section class="sanphammoi">
    <div class="sanphamoi-bar">
        <div class="h-sanphamoi">
            <h2 >Sản phẩm mới</h2>
        </div>
        <div class="xemtatca">
            <a href="DanhSachSanPham" target="_self" >Xem tất cả</a>
        </div>



    </div>
    <div>
        <ul class="fm-sanphammoi">
            <li>
                <a href="ChiTietSanPham">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/sp1.png" class="fm-hínhsanpham" />
                    </div>
                </a>
            </li>
            <li>
                <a href="QuanTay">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quantaybanner.png" class="fm-hínhsanpham" />                       
                    </div>
                </a>
            </li>
            <li>
                <a href="VayTunic">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/vaytunicbanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="VayJearsey">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/vayjearseybanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="Sweater">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/sweaterbanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="QuanXepLy">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quanxeplybanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="QuanShortGVay">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quanshortbanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="QuanOngRong">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quanongrongabanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="QuanJDaiRong">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/jeandairongbanner.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="HighJean">
                    <div>
                        
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/highjeanbanner.png" />
                    </div>
                </a>
            </li>
        </ul>
    </div>

</section>