
@{
    ViewBag.Title = "DanhSachSanPham";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<link href="~/Content/TrangLamWeb/style-dssp.css" rel="stylesheet" />
<h2>DanhSachSanPham</h2>
<div id="trangsanpham">
    <ul class="product">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="ChiTietSanPham" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/peplum1.png" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">Áo kiểu peplum</a>
                    <div class="product-price">499.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoLongXu" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/aolong4.png" alt="" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoLongXu" class="product-name">Áo gi-lê bông xù</a>
                    <div class="product-price">799.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoPolo" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/aopolo1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoPolo" class="product-name">Áo Polo</a>
                    <div class="product-price">599.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="HighJean" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/highjean1.png" />

                    </a>

                </div>
                <div class="product-info">
                    <a href="HighJean" class="product-name">High Jean</a>
                    <div class="product-price">1.299.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="QuanJDaiRong" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/jeandairong1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="QuanJDaiRong" class="product-name">Quần jean dài ống rộng</a>
                    <div class="product-price">1.399.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="QuanOngRong" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quanongrong1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="QuanOngRong" class="product-name">Quần ống rộng</a>
                    <div class="product-price">799.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="QuanShortGVay" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quanshort1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="QuanShortGVay" class="product-name">Quần short giả váy</a>
                    <div class="product-price">699.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="QuanTay" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quantay1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="QuanTay" class="product-name">Quần tây</a>
                    <div class="product-price">1.299.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="QuanXepLy" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/quanxeply1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="QuanXepLy" class="product-name">Quần xếp ly</a>
                    <div class="product-price">999.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="Sweater" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/sweater1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="Sweater" class="product-name">Áo Sweater</a>
                    <div class="product-price">599.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="VayJearsey" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/vayjearsey1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="VayJearsey" class="product-name">Áo Jearsey</a>
                    <div class="product-price">399.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="VayTunic" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnu/main/vaytunic1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="VayTunic" class="product-name">Váy Tunic</a>
                    <div class="product-price">499.000đ</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script src="~/Scripts/TrangLamWeb/search-filter.js"></script>