
@{
    ViewBag.Title = "DanhSachSanPhamNam";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}


<link href="~/Content/TrangLamWeb/style-dssp.css" rel="stylesheet" />
<h2>DanhSachSanPham</h2>
<div id="trangsanpham">
    <ul class="product">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoDenim" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/aokhoacdenim1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoDenim" class="product-name">Áo khoác Denim</a>
                    <div class="product-price">999.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoNiTayDai" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/aoni1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoNiTayDai" class="product-name">Áo nỉ tay dài</a>
                    <div class="product-price">₫799,000</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="BaggyJean" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/baggyjean1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="BaggyJean" class="product-name">Quần baggy jean</a>
                    <div class="product-price">899.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="LooseJean" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/loosejean1.png" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="LooseJean" class="product-name">Quần loose jean</a>
                    <div class="product-price">1.199.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoSoMi" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/somingan1.png" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="AoSoMi" class="product-name">Áo sơ mi tay ngắn</a>
                    <div class="product-price">599.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoPoloN" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/aopolo1.avif" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoPoloN" class="product-name">Áo polo</a>
                    <div class="product-price">599.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoTayDai" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/aotaydai1.avif" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoTayDai" class="product-name">Áo tay dài</a>
                    <div class="product-price">399.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoThunLuoi" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/aothunluoi1.avif" />
                    </a>

                </div>
                <div class="product-info">
                    <a href="AoThunLuoi" class="product-name">Áo thun lưới</a>
                    <div class="product-price">299.000đ</div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="AoBomber" class="product-thumb">
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamnam/main/bomber1.avif" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="AoBomber" class="product-name">Áo bomber</a>
                    <div class="product-price">799.000đ</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script src="~/Scripts/TrangLamWeb/search-filter.js"></script>