
@{
    ViewBag.Title = "TrangChuTreEm";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<style>
    .hinh img{
        height:900px !important;
    }
</style>

<link href="~/Content/TrangLamWeb/trangchu.css" rel="stylesheet" />



<section class="gtsanpham">
    <div id="banner">
        <a href="DanhSachSanPhamTreEm">
            <div class="fm-banner">
                
                <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/bannertreem.png" />
            </div>
            <div class="mua-ngay-banner">
                <span>Mua ngay</span>
            </div>
        </a>
    </div>
    <div id="img-sanphamnu">
        <div id="imgnu-left">

            <a href="DanhSachSanPhamTreEm">
                <div class="hinh">
                    <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/treemimg.png" class="fm-imgnu"/>
                    
                </div>

                <div class="info">
                    <h2>Tủ đồ ấm áp</h2>
                </div>

            </a>
        </div>
        <div id="imgnu-right">
            <a href="DanhSachSanPhamTreEm">
                <div class="hinh">
                    <img src="https://raw.githubusercontent.com/Nomu-276/dulieuweb/main/tudothuamap.png" class="fm-imgnu"/>
                    
                </div>
                <div class="info">
                    <h2>Tủ đồ thu ấm áp</h2>
                </div>

            </a>
        </div>
    </div>
</section>
<section class="sanphammoi">
    <div class="sanphamoi-bar">
        <div class="h-sanphamoi">
            <h2>Sản phẩm mới</h2>
        </div>
        <div class="xemtatca">
            <a href="DanhSachSanPhamTreEm" target="_self">Xem tất cả</a>
        </div>



    </div>
    <div>
        <ul class="fm-sanphammoi">
            <li>
                <a href="#">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/aoni4.avif" class="fm-hínhsanpham" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/aosomibanner.avif" class="fm-hínhsanpham" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quanleggingbanner.avif" class="fm-hínhsanpham" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quanjeanbanner.avif" class="fm-hínhsanpham" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="https://raw.githubusercontent.com/Nomu-276/sanphamtreem/main/quannhungbanner.avif" class="fm-hínhsanpham" />
                    </div>
                </a>
            </li>
            

        </ul>
    </div>

</section>