
@{
    ViewBag.Title = "YeuThich";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<link href="~/Content/TrangLamWeb/yeuthich.css" rel="stylesheet" />
<div class="favorites-page">
    <h1>Sản phẩm yêu thích</h1>
    <div id="favorites-empty" class="info">Bạn chưa có sản phẩm yêu thích nào.</div>
    <div id="favorites-list" class="favorites-list"></div>
</div>

