*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    
    
}
.form-b{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    margin:100px 470px;
    
    padding:20px 0 60px;
}
.form-h{
    display:flex;
    flex-wrap:wrap;
    width:450px;
    height:auto;
    
}
.form-h h4{
    text-transform:uppercase;
    font-size:14px;    
    font-weight:400;
}
.form-h button{
    margin-left:348px;
    border:0;
    background-color:#ffffff;
}

.form-b input{
    width:65%;
    padding:10px 15px;
    border:solid 1px;
    border-color:#000000;
    
}
.fm-form{
    
}
.fm-form h2{
    font-size:12px;
    text-align:left;
    padding:15px 0;
    
}
.nhan{
    font-size:12px;
    font-weight:300;
    
}
.form-cont button{
    width:65%;
    margin-top:15px;
    padding:10px 15px;
    color:#ffffff;
    background-color:#000000;
    font-size:12px;
    text-transform:uppercase;
    font-weight:600;
}

    


