body {
}
.admin-container {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.admin-title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
