@model IEnumerable<WebBanQuanAo_Main_.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lí chi tiết đơn hàng</h2>
@Html.Partial("OrderDetailIndexPV", Model)
