@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.15;
}
.trangchitiet {
   display:grid;
   grid-template-columns:repeat(2,1fr);
   
}
.trangtrai{
    margin:70px 100px 0;

}
.trangtrai ul{
    list-style:none;
}
.trangtrai ul li img{
    width:600px;
    height:auto;
}
.trangphai{
    margin:150px 180px 0 100px;
    
}
.product-h{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
.product-h h1{
    text-transform:uppercase;
    letter-spacing:2px;
}
.product-h button{
    font-size:25px;
    width:50px;
    height:50px;
    background-color:white;
    border:0;
    
}
.btn-love{
    text-align:right;
    margin-top:-10px;
     
}
.price{
    
    font-size:22px;
    font-weight:700;
}
.size{
    margin-top:20px;
}
.size ul{
    list-style:none;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    

}
.size ul li{
    text-align:center;
    border:1px solid grey;
    padding:25px 10px;
    text-transform:uppercase;
    font-size:18px;
}
.size ul li:hover{
    background-color:lightgrey;
    border:1px solid black;
}
.nutgiohang{
    margin-top:30px;
}
.nutgiohang button{
    width:100%;
    height:70px;
    font-size:17px;
    font-weight:600;
    text-transform:uppercase;
    color:white;
    background-color:black;
    border:0;
}
.nutgiohang button:hover{
    background-color:lightgray;
}
.description{
    margin-top:30px;
}
.description h1{
    text-align:left;
    font-size:17px;
    text-transform:uppercase;

}
.description p{

    font-size:17px;

}