@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.15;
}

.formdangki {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    margin: 100px 470px;
    
    padding: 20px 0 0;
}
.form-h {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: auto;
}
.form-h h4{
    text-transform:uppercase;
    font-size:14px;    
    font-weight:400;
    margin-bottom:10px;
}
.form-h button{
    font-size:10px;
    border:0;
    background-color:#ffffff;
    margin-left:50px;
    
}
.form-b input {
    width: 50%;
    padding: 10px 15px;
    border: solid 1px;
    border-color: #000000;
}
.nhan {
    font-size: 12px;
    font-weight: 300;
}
.form-cont button {
    width: 57%;
    margin-top: 15px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.form-return button {
    width: 57%;
    margin-top: 15px;
    padding: 10px 15px;
    color: #000000;
    background-color: #ffffff;
    font-size: 10px;
    text-transform:uppercase;
    font-weight: 600;
}


