@model WebBanQuanAo_Main_.Models.Color

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center alert alert-danger">Xóa màu</h2>

<h3 class="alert alert-warning">Bạn có chắc muốn xóa màu này không ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:25px; font-weight:600;">
            Tên màu
        </dt>

        <dd style="font-size:25px;">
            @Html.DisplayFor(model => model.ColorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về danh sách", "Index", null, new {@class="btn btn-success"})
        </div>
    }
</div>
